---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
---

<Layout title="RDS Deportes" desc='Técnico en varias modalidades deportivas como Futbol, Futsal, Basquetball, Atletismo, Hándbol, entre otros. Además de esto Disertante en seminarios, cursos y congresos deportivos.'>
<div class="container md:p-20 mx-auto text-black text-xl md:text-2xl ">
    <h1 class="text-6xl py-4 font-bold">Biografia</h1>
    <div class="grid grid-cols-1 lg:grid-cols-3 gap-6 justify-center">
    <div class="md:col-span-2">
    <h2 class="text-4xl">RDS Deportes es el sitio web del Lic. Prof. Rubén Darío Subeldía</h2>
    <br>
    <ul class="list-disc">
    <li>Técnico en varias modalidades deportivas como Futbol, Futsal, Basquetball, Atletismo, Hándbol, entre otros. Además de esto Disertante en seminarios, cursos y congresos deportivos.</li>
<br>
    <li> Nacido el 11 de Abril de 1961 en Yataity del Guaira-Paraguay, con su sueño de salir adelante, ayudar a su familia  y llegar a ser una persona destacada en el deporte migra a la capital del país para empezar sus estudios en la Escuela de Educación Física recibiéndose así de Prof. Superior de Educ. Física y Sanitaria  en el Año 1982.</li>
<br>
    <li>Prosiguiendo con sus estudios se especializa en Tecnicaturas Deportivas obteniendo el Título de Licenciado en Ciencias de la Educación. Amén de asistencias a Cursos, Jornadas Pedagógicas, Talleres y Seminarios de actualización en Ciencias del Deporte  y Alto Rendimiento en países como Argentina, Brasil, Chile, Colombia, México, Uruguay, Venezuela, España, otros .</li>
</ul></div>
<img src="/img/galeria/4.jpg" class="" alt="">
</div>
</div>
<div class="bg-red-600"> <div class="mx-auto px-10 sm:px-4 text-center py-10 md:flex md:justify-between xl:px-32 md:items-center"> <h2 class="mb-6 md:mb-0 text-3xl font-bold text-center text-white">Currículum completo del Lic. Rubén Darío Subeldía.</h2> <a href="/Lic Ruben Subeldia-CurriculoVitae-2018.pdf" class="bg-white text-black font-bold rounded-full py-4 px-8 shadow-lg uppercase tracking-wider hover:bg-gray-200 transition ease-in-out duration-300">Descargar <i class="fa-solid fa-file" aria-hidden="true"></i> </a> </div> </div> 

<div class="container md:p-20 mx-auto text-black text-xl md:text-2xl" id="futsal">
    <h1 class="text-6xl py-6 font-bold text-center">FUTSAL</h1>
    <div class="grid grid-cols-1 lg:grid-cols-3 gap-6 justify-center">
        <img src="/img/futsal.jpg" class="" alt="">
        <div class="md:col-span-2">
    <h2 class="text-4xl font-bold">Actividad Deportiva como Entrenador de Futsal</h2>
    
    <p>En 1993 empieza su carrera en la modalidad de Futsal, siendo participe de las actividades competitivas en varios clubes y selecciones nacionales, a continuación transcribimos un listado de los mismos:</p>
    <br>
    <h3 class='font-bold'>Entrenador de Clubes</h3>
    <ul class="list-disc text-lg">
    <li>CAMPEÓN: Club Universidad Autónoma de Asunción, Masculino, 2005/06
<br>
<li>        CAMPEÓN: Club Universidad Autónoma de Asunción, Copa Libertadores Zona Sur, 2005
</li>
<li>        CAMPEÓN: Club Universidad Autónoma de Asunción, Femenino, 2005/ 06/ 2008/09/10/11
</li>
<li>        CAMPEÓN: Club Pablo Rojas, 2007/08/ 09
</li>
<li>        TÉCNICO del Club AFEMEC en la I Liga Nacional de Futsal, 2012</li>
</li>
</ul>
<br>
<h3 class='font-bold'>Entrenador de Selecciones</h3>
<ul class="list-disc text-lg">
    <li>SELECCIÓN PARAGUAYA, Torneo "Cono Sur", 2000</li>
        <li>SELECCIÓN PARAGUAYA, Copa América, 2005 y 2008</li>
        <li>SELECCIÓN PARAGUAYA, Sudamericano Futsal FIFA Femenino, 2005</li>
        <li>SELECCIÓN PARAGUAYA, Sudamericano de Futsal FIFA Sub-20 Masculino, 2006 y 2010</li>
        <li> SELECCIÓN PARAGUAYA, Torneo Gran Prix, 2008 y 2010</li>
        <li> SELECCIÓN PARAGUAYA, VI Copa del Mundo Futsal FIFA – Brasil 2008</li>
        <li>SELECCIÓN PARAGUAYA, Amistoso Internacional, Festejos Titulo Odesur – Colombia, 2010</li>
</ul>
</div>
</div>
</div>

<hr>
<div class="container md:p-20 mx-auto text-black text-xl md:text-2xl " id="futbol-de-campo">
    <h1 class="text-6xl py-6 font-bold text-center">Fútbol de Campo</h1>
    <div class="grid grid-cols-1 lg:grid-cols-3 gap-6 justify-center">
        <img src="/img/galeria/5.jpg" class="" alt="">
        <div class="md:col-span-2">
    <h2 class="text-4xl font-bold">Actividad como Entrenador de Fútbol de Campo</h2>
    
    <p>Su pasión por el deporte rey, en el 1991 lo conlleva a la Direccion Tecnica en el Fútbol de Campo, luego de dedicar y lograr varios objetivos con otras disciplinas deportivas se propone lo mismo llegando asi a Clubes importantes y formando parte de Selecciones Nacionales</p>
    <br>
    <h3 class='font-bold'>Entrenador de Clubes:</h3>
    <ul class="list-disc text-lg">
       <li> CAMPEÓN: Universidad Autónoma De Asunción (Femenino), 2008/09/10/11/12</li>
       <li> VICE-CAMPEÓN COPA LIBERTADORES DE AMÉRICA: Universidad Autónoma De Asunción (Femenino), 2009</li>
        <li> VICE-CAMPEÓN: Club Nacional (Masculino), Categoría Formativas Sub-17, 2015</li>
            <li> CAMPEÓN: Sportivo Limpeño (Femenino), 2016</li>
                <li> CAMPEÓN COPA LIBERTADORES DE AMÉRICA: Sportivo Limpeño (Femenino), 2016</li>
</ul>
<br>
<h3 class='font-bold'>Entrenador de Selecciones</h3>
<ul class="list-disc text-lg">
    <li> SELECCIÓN PARAGUAYA,Sudamericano Sub-20 (Femenino),2012</li>
    <li> SELECCIÓN PARAGUAYA,Sudamericano Sub-17 (Femenino),2012</li>
    <li> SELECCIÓN PARAGUAYA JUVENILES,(Masculino), 2018</li>
    <li> SELECCIÓN PARAGUAYA ABSOLUTA, Copa América (Femenino),2018</li>
</ul>
</div>
</div>
</div>
<hr>

<div class="container md:p-20 mx-auto text-black text-xl md:text-2xl" id="handball">
    <h1 class="text-6xl py-6 font-bold text-center">Handball</h1>
    <div class="grid grid-cols-1 lg:grid-cols-3 gap-6 justify-center">
        <img src="/img/handball.jpg" class="" alt="">
        <div class="md:col-span-2">
    <h2 class="text-4xl font-bold">Actividad Deportiva como Entrenador de Handball</h2>
    
    <p>Tras una invitación para completar el cupo de participantes en el Curso de Tecnico de Handball mientras estudiaba la carrera de ​Educación Física se da su inicio en la Dirección Tecnica de esta disciplina deportiva en el año 1984, siendo parte de varios Clubes y Selecciones Nacionales con la cual en muchas oportunidades escribió Historia...</p>
    <br>
    <h3 class='font-bold'>Entrenador de Clubes</h3>
    <ul class="list-disc text-lg">
     <li> CAMPEÓN: Club Cerro Porteño (Femenino), 1984 </li>
     <li> CAMPEÓN: Club Nacional de Regatas “El Mbigua”(Femenino),1988, 1991 </li>
     <li> CAMPEÓN: Club Emiliano R. Fernández (Femenino),1991, 2007</li>
     <li> CAMPEÓN: Deportivo “San José” (Femenino),1998/99, 2000/01/02/03/04, 2013. 2017</li>
</ul>
<br>
<h3 class='font-bold'>Entrenador de Selecciones</h3>
<ul class="list-disc text-base">
    <li> SELECCIÓN PARAGUAYA, Sudamericano (Femenino), Júnior, 1987, 1992,1996, 2002, 2014</li>
    <li> SELECCIÓN PARAGUAYA, Panamericano (Masculino), Adulto, 1994 </li>
    <li> SELECCIÓN PARAGUAYA, XII “Juegos Panamericanos”  (Masculino), Adulto, 1995 </li>
    <li> SELECCIÓN PARAGUAYA, Sudamericano (Femenino), Cadetes, 1996, 2005/06/07</li>
    <li> SELECCIÓN PARAGUAYA, Sudamericano (Femenino), Juvenil, 1996 , 2005/06/07, 2012</li>
<li> SELECCIÓN PARAGUAYA, Sudamericano (Femenino), Adulto, 2001</li>
<li> SELECCIÓN PARAGUAYA, Juegos Deportivos Sudamericano “ODESUR”, (Femenino), Adulto, 2002-2006-2010-2014</li>
<li> SELECCIÓN PARAGUAYA, Panamericano  (Femenino), Adulto, 2007, 2009, 2013</li>
<li> SELECCIÓN PARAGUAYA, Campeonato MUNDIAL (Femenino), Adulto, 2007, 2013</li>
<li> SELECCIÓN PARAGUAYA, Campeonato MUNDIAL (Femenino), Juvenil, 2012</li>
<li> SELECCIÓN PARAGUAYA, XVII Juegos Bolivarianos, Medalla de Oro, 2013</li>
</ul>
</div>
</div>
</div>
</Layout>