---
import Layout from '../layouts/Layout.astro';

---

<Layout title="Cursos y Seminarios - RDS Deportes" desc='Técnico en varias modalidades deportivas como Futbol, Futsal, Basquetball, Atletismo, Hándbol, entre otros. Además de esto Disertante en seminarios, cursos y congresos deportivos.'>
    <div class="container md:p-20 mx-auto text-black text-xl md:text-2xl">
        <h1 class="text-5xl pb-8 font-bold text-center">Cursos - Seminarios</h1>
        <div class="grid grid-cols-1 lg:grid-cols-3 gap-6 justify-center" id="instructor">
            <img src="/img/instructor.jpg" class="" alt="">
            <div class="md:col-span-2">
        <h2 class="text-4xl font-bold">Instructor en Cursos, Seminarios y Jornadas</h2>
        
        <p class="text-lg">Tras 25 años de docencia junto a su permanente actualización participando en cursos, seminarios y talleres; y sumando a esto su experiencia como Tecnico en varias modalidades deportivas diferentes Instituciones, Asociaciones y Entidades Deportivas como Educativas lo hacen participe como Instructor, Disertante y/o Expositor para impartir y guiar su metodologia de trabajo a jovenes y adultos que buscan crecer como profesionales para nuestra sociedad.</p>
        <br>
        <h3 class='font-bold'>Algunas participaciones como Instructor, Disertante, Expositor en:</h3>
        <ul class="list-disc text-lg">
          <li> Curso de Profesionalización para Docente, 1991</li>
          <li>  Curso de Capacitación Docente para Profesores de Educación Física,1994</li>
          <li>  Curso “Hándbol Escolar", 1998</li>
          <li>  Curso de Arbitraje y Reglas de Hándbol, 2001</li>
          <li>  Taller de la Re-forma de la en el área de Educación Física,2002</li>
          <li>  Curso Teórico-Práctico sobre: “Técnicas, Tácticas en Futsal FIFA”, 2006</li>
        <li class="font-bold">  17° Congreso Internacional de Educación Física, Deportes y Recreación FIEP, 2008</li>
<li>Curso de Fútbol Femenino, 2011</li>
    <li>Primer Simposio del Hándbol Paraguayo, 2013</li>
        <li class="font-bold">Jornadas de Capacitación, Clínicas Deportivas y Entrenamientos a Niños y Jóvenes del municipio de Chaparral - Tolima, Colombia,2014 y 2015</li>
        <li>Jornada de Marketing Deportivo, con el Tema “Como Transformar un Equipo en Campeones”, 2013</li>
<li>Curso/Taller Preparación Física en Deporte de Equipo, 2016</li>
<li class="font-bold">Curso para Entrenadores de Base Futsal FIFA- Nivel 1, 2016</li>
<li>I Congreso Nacional de Deportes, 2016</li>
<li class="font-bold">Jornadas de Orientación Pedagógica en Futsal FIFA - Nivel 3, Proyecto de Actualización Deportiva en la Ciudad de San José– Costa Rica. 2017</li>
<li>Curso Taller Actualización Docente del Área de Educación Física Nivel de Capacitación II, 2017</li>
<li>Curso Conmebol de Fútbol Femenino para Entrenadores, Bogota - Colombia, Asunción - Paraguay, Montevideo - Uruguay, 2017/2018</li>
    </ul>
    <br>
    </div>
    </div>
    <div class="bg-red-600"> <div class="mx-auto px-10 sm:px-4 text-center py-10 md:flex md:justify-between xl:px-32 md:items-center"> <h2 class="mb-6 md:mb-0 text-3xl font-bold text-center text-white">Currículum completo del Lic. Rubén Darío Subeldía.</h2> <a href="/Lic Ruben Subeldia-CurriculoVitae-2018.pdf" class="bg-white text-black font-bold rounded-full py-4 px-8 shadow-lg uppercase tracking-wider hover:bg-gray-200 transition ease-in-out duration-300">Descargar<i class="fa-solid fa-file" aria-hidden="true"></i> </a> </div> </div> 
    <div class="grid grid-cols-1 lg:grid-cols-3 gap-6 justify-center pt-10" id="participante">
        <img src="/img/participante.jpg" class="" alt="">
        <div class="md:col-span-2">
    <h2 class="text-4xl font-bold">Participante en Cursos, Seminarios y Jornadas</h2>
    
    <p class="text-lg">En busca de seguir evolucionando profesionalmente, luego de recibirse de Prof. Superior de Educ. Física y Sanitaria en la Escuela Nacional Educación Física en el año 1982, prosigue sus estudios especializandose con Tecnicaturas Deportivas obteniendo el Título de Licenciado en Ciencias de la Educación, ademas de asistencias a Cursos, Jornadas Pedagógicas, Talleres y Seminarios</p>
    <br>
    <h3 class="text-2xl font-bold">Tecnicaturas</h3>
    
    <p class="text-lg">Hándbol (1983), Atletismo (1987), Fútbol de Campo (1990),  Basquetbol (1991), Futsal FIFA (Técnico Superior, 2013)</p>
    <h3 class='font-bold'>Algunas participaciones en Otros Cursos, Seminarios y Jornadas Pedagógicas</h3>
    <ul class="list-disc text-lg">
      <li> Congreso Mundial de Educación Física,  23° Congreso Internacional de Educación Física – FIEP, Brasil, 2008.</li> 
      <li>  Clínica denominada “El Fútbol Del Futuro FIFA”, Paraguay, 2009</li> 
      <li>  Curso Internacional “Challenger Trophy” para entrenadores, nivel 1 de Handball, Venezuela, 2010</li> 
      <li>  Curso de entrenadores de “FUTBOL FEMENINO FIFA”, Paraguay, 2011</li> 
      <li class="font-bold">  Curso Intercontinental De Balonmano para Entrenadores, México, 2013</li> 
      <li>  Curso Base de Futsal FIFA, Paraguay,2016</li> 
      <li class="font-bold">  Curso para Instructores CONMEBOL de Futsal FIFA y Fútbol Playa, Paraguay, 2016</li> 
      <li class="font-bold">  Workshop de Futbol Playa para entrenadores de CONMEBOL, Paraguay, 2017</li> 
      <li class="font-bold">  Workshop de Técnicos Expertos para Instructores CONMEBOL, Paraguay, 2018</li> 
</ul>
<br>
</div>
</div>
    </div>
</Layout>