---
import Layout from "../layouts/Layout.astro";
---
<Layout title="Mi Sistema - RDS Deportes" desc="Mi estilo de trabajo. Técnico en varias modalidades deportivas como Futbol, Futsal, Basquetball, Atletismo, Hándbol, entre otros. Además de esto Disertante en seminarios, cursos y congresos deportivos.">
 <main class="px-2 md:px-20 py-4">
    <div class="text-black py-10" id="mi-estilo-de-trabajo">

              <h1 class="font-bold text-center text-3xl">Mi Estilo de trabajo</h1>

              <div class=" text-lg">

<p><span style="font-size:18px"><strong>- Introduccion.</strong></span></p>

<p>El<span style="font-size:14px">&nbsp;presente preambulo&nbsp;tiene como objetivo la búsqueda de diversos valores que hacen a un profesional&nbsp;construir un equipo determinado.</span></p>

<ul>
  <li><span style="font-size:14px">"Demostrar que el fútbol es mucho más que un juego."</span></li>
</ul>

<p><span style="font-size:14px">Esta exposición se basa en la hipótesis de la identificación de pertenencia y cómo esta caracterización, representa uno de los factores más influyentes para la construcción del propio self.&nbsp;</span></p>

<ul>
  <li><strong>El Estilo.</strong></li>
</ul>

<p>- Conjunto de rasgos peculiares que caracterizan a un artista, una obra o un período artístico y le confieren una personalidad propia y reconocible.</p>

<ul>
  <li><strong>Estilo en Deportes.</strong></li>
</ul>

<p>- Caracteristicas de una cosa, una persona, un grupo o un modo de actuación.</p>

<ul>
  <li><strong>Metodos.</strong></li>
</ul>

<p>- Procedimientos que determinan una investigación o marcan el rumbo de una exposición doctrinal.</p>

<ul>
  <li><strong>Metodizamos.</strong></li>
</ul>

<p>- Las tareas (tácticas)… acciones que realizamos teniendo en cuenta…el sistema de juego a utilizar en relación al modelo de juego…</p>

<ul>
  <li><strong>Sistemas de Juego.</strong></li>
</ul>

<p>- La posición o distribución de un equipo, dentro del terreno de juego, antes de sus movimientos ofensivos y defensivos.</p>

<ul>
  <li><strong>Modelos de Juego.</strong></li>
</ul>

<p>- Es el Conjunto de Principios (Comportamientos Generales del Juego) que crea un entrenador en base a un posicionamiento (Organización Estructural) y unos comportamientos (Organización Funcional).</p>

<ul>
  <li><strong>Principios.</strong></li>
</ul>

<p>- Son reglas o normas que orientan la acción de un ser humano cabiendo las facultades espirituales, racionales y sexuales, etc.</p>
              </div>
      </div>
      <hr>

      <section class="py-10 text-black" id="fundamentacion-teorica">
        <h2 class="font-bold text-center text-3xl py-4">Fundamentacion teorica</h2>
                <h3 class="font-bold text-xl">EL ENTRENADOR EMPRENDEDOR</h3>

                <div class="">
                  <p>La mejor manera de fundamentar este desarrollo es recordando a uno de los mejores exponentes sobre personalidades Enprendedores, J. Maxwell,&nbsp;cuando en su momento recibo&nbsp;invitacion para formar parte de su equipo de trabajo ...</p>

<p>Hola mi nombre es John Maxwell, y estoy muy contento que estés tomando el tiempo para leer este informe.</p>

<p>En las páginas siguientes espero compartir contigo uno de mis temas favoritos:<br>
¡Los Emprendedores!</p><p>
<strong>John Maxwell | ADN de un Emprendedor</strong><br>
<br>
Lección 1<br>
Visualización, Realización, Trabajo duro y Deseo.<br>
Los emprendedores hacen dos cosas. <strong>Visualizan y Realizan.</strong></p>

<p>Los emprendedores tienen la capacidad para ver oportunidades en todas partes y todo el tiempo. <strong>Visualizan</strong> lo que podría suceder si se apoderan de esas oportunidades. Visualizar abre sus mentes para aún más posibilidades y les da una guía para ayudarles a tomar el próximo paso crucial: <strong>realizar.</strong></p>
<br>
<p>Los grandes emprendedores, quienes son altamente exitosos, hacen algo más que ver la oportunidad; ellos aprovechan las oportunidades. De hecho, es la acción, la incautación de una oportunidad, que define a un emprendedor.</p>
<br>
<p>Los emprendedores son lo que yo llamo gente que "Hacen que las cosas sucedan". Hacen más que imaginar y soñar. Hacen algo acerca de la oportunidad que ven. Agitan las cosas, y traen a casa el pan. Realmente están comprometidos a hacer que las cosas sucedan.</p>
<br>
<p>Los emprendedores tienen iniciativa propia. Los emprendedores no esperan a una persona o una experiencia que les motive. Ellos eligen tomar acción por su propia cuenta. Ahora, las experiencias y la gente SI nos motivan, pero hay una diferencia crítica entre motivarse uno mismo, o esperar a las personas y experiencias para ser motivado.</p>
<br>
<p>Los emprendedores entienden que hay un gran valor en ir delante de otros y comenzar temprano. De hecho, comenzar temprano es esencial para el éxito de un emprendedor. Los emprendedores inician rápido, piensan rápido, cambian rápido, y arreglan rápido. (Ref. ADN de un Emprendedor: www.JohnMaxwellTeam.com)</p>
<br>
<p>Espero que hayas aprendido cosas importantes de este informe y que estés listo para salir y aplicarlas a tu vida de inmediato.</p>
<br>
<p>Si tu quieres crecer como líder, convertirte en el emprendedor que sabes que puedes ser, o incluso tener una carrera ayudando a otros a alcanzar su potencial en la vida, entonces mi programa de certificación, el Equipo de John Maxwell, es el lugar para ti. ¡Te damos las herramientas y la capacitación para que puedas crecer y ser la mejor versión de ti mismo!<br>
Gracias por tomarte el tiempo conmigo, y espero conocerte pronto.<br>
www.JohnMaxwellTeam.com</p>
                </div>
      </section>

      <hr>

      <div class="py-10 text-black" id="la-estructuracion-del-equipo">
        <h2 class="font-bold text-center text-3xl py-4">La estructuracion del equipo</h2>
        <h3 class="font-bold text-center">EL MODELO TÁCTICO DE JUEGO</h3>

        <div class="text-contenido col-xs-12">
          <p>1. INTRODUCCION</p>
<br>
<p>Definimos el modelo táctico de juego como el conjunto de comportamientos individuales y colectivos que se van a tratar de aplicar con regularidad a lo largo del partido para desarrollar con la máxima eficacia los momentos defensivos y ofensivos del juego.</p>
<br>
<p>El modelo de juego representa el conjunto de señas de identidad que definirá el juego colectivo del equipo (ORGANIZACIÓN TACTICA).</p>
<br>
<p>La forma en la que cada equipo se organiza para desarrollar las fases de colaboración - oposición durante el desarrollo del juego presenta múltiples variantes, muchos caminos validos para llegar al mimo lugar: conseguir que los jugadores respondan de una manera rápida, coordinada y eficaz ante una determinada situación del juego.</p>
<br>
<p>Sin duda en la actualidad el modelo de juego referente en el mundo es el del FC Barcelona, modelo basado en la presión alta para favorecer la pronta recuperación del balón y la posesión del mismo&nbsp;a través de acciones combinativas donde se unen a la perfección el binomio velocidad –precisión.</p>
<br>
<p>Personalmente considero este modelo el mejor para su aplicación en el futbol base en donde debemos poner en práctica modelos tácticos que favorezcan las adquisición por parte de los jóvenes jugadores de habilidades técnico-tácticas positivas, la responsabilidad, la creatividad, la inteligencia..., debemos generar en los jóvenes desde las primeras etapas un gran respeto por el buen trato del balón, el sentido del juego colectivo, las responsabilidades defensivas y ofensivas...</p>
<br>
<p>El ataque combinado y la presión alta obliga a todos los jugadores a desarrollar una técnica individual y colectica de alto nivel con el binomio velocidad – precisión como exigencia constante en la realización de sus acciones técnicas en especial control orientado y pase, una excelente organización táctica ofensiva y defensiva, inteligencia, creatividad, altas dosis de confianza para jugar el balón bajo una fuerte presión renunciando al pelotazo, un excelente nivel condicional para mantener durante todo el desarrollo del partido un juego sin balón que nos permita por un lado circular la pelota con velocidad y por otro recuperarla lo antes posible y una mejora clara de la solidaridad, sacrificio, compañerismo ya que todos los jugadores se sienten protagonistas a la hora de defender y atacar.</p>
<br>
<p><span style="color:rgb(0, 0, 255); font-size:10px">- Ref:WWW.ENTRENARFUTBOL.ES - AUTOR Javier López López - E-MAIL AUTOR Javierlopezlopez@hotmail.com</span></p>
        </div>
      </div>

      <hr>

      <div class="py-10 text-black" id="modelo-de-juego-que-apasiona">
        <h2 class="text-center font-bold text-3xl py-6">Modelo de Juego que apasiona</h2>
        <h3 class="font-bold text-center text-lg">Dominio del Balón y Colaboración Estratégica.</h3>

        <div class="py-4">
          <p><strong>Introducción:</strong></p>

<p>El fútbol, un deporte que ha trascendido culturas y fronteras, se erige como un ballet en el que las habilidades individuales y la colaboración estratégica convergen para crear momentos de genialidad en el campo de juego. En esta intromisión, nos adentraremos en el corazón del fútbol moderno, explorando el Modelo de Juego Combinativo y cómo su enfoque en el dominio del balón y la colaboración estratégica ha transformado la manera en que los equipos enfrentan el desafío del deporte más popular del mundo.</p>
<br>
<p><strong>I. Fundamentos del Modelo de Juego Combinativo:</strong></p>

<p>En el núcleo del Modelo de Juego Combinativo yace una filosofía que enfatiza la maestría del balón y la cooperación táctica. Este enfoque contrasta con otras estrategias como el juego directo o la posesión excesiva del balón. La esencia radica en fusionar el control del balón con la colaboración entre los jugadores, con el objetivo de penetrar las líneas defensivas rivales de manera creativa y efectiva.</p>
<br>
<p><strong>II. Principios del Juego Combinativo:</strong></p>

<ol>
<li><strong>Posesión y Movimiento:</strong> El dominio del balón es la base sobre la cual se construye el juego Combinativo. La retención precisa del balón, acompañada de un constante movimiento de los jugadores sin balón, crea una red interconectada de posibles opciones de pase. Esto no solo mantiene al equipo en control, sino que también fuerza a la defensa contraria a ajustarse constantemente.</li>
<li><strong>Pases Precisos y Rápidos:</strong> La circulación veloz y precisa del balón es un sello distintivo del juego combinativo. Pases bien ejecutados desorganizan las líneas defensivas y crean espacios que los jugadores pueden explotar. La velocidad en la toma de decisiones y en la ejecución es esencial para superar la presión rival.</li>
<li><strong>Apoyo y Espacios:</strong> Los jugadores deben posicionar estratégicamente para ofrecer opciones de pase al compañero con el balón. Al mismo tiempo, deben aprovechar los espacios generados por el movimiento constante. Este enfoque inteligente en la disposición espacial aumenta las posibilidades de crear oportunidades de ataque.</li>
<li><strong>Juego en Triángulos:</strong> La formación de triángulos entre los jugadores en el campo es una táctica esencial del juego Combinativo. Estos triángulos permiten una circulación fluida del balón, asegurando que siempre haya un compañero disponible para recibir el pase. Esta geometría táctica también dificulta la presión defensiva.</li>
</ol>
<br>
<p><strong>III. Ventajas del Juego Combinativo:</strong></p>

<ol>
<li><strong>Mayor Control del Partido:</strong> El juego combinativo otorga al equipo un control firme del ritmo y dirección del partido. Al mantener el balón en circulación y dictar el flujo del juego, se limitan las oportunidades del oponente para atacar.</li>
<li><strong>Desorganización Defensiva:</strong> La rápida circulación del balón y el constante movimiento de los jugadores sin balón desorientan y desorganizan las líneas defensivas rivales. Esto crea brechas en la estructura defensiva que pueden ser aprovechadas para penetrar y crear oportunidades de ataque.</li>
<li><strong>Oportunidades de Gol:</strong> La colaboración estratégica y la rápida circulación del balón crean oportunidades claras de gol al abrir espacios en la defensa contraria. Además, este enfoque fomenta situaciones de uno contra uno, donde la habilidad individual puede brillar.</li>
</ol>
<br>
<p><strong>IV. Implementación Práctica:</strong></p>

<ol>
<li><strong>Entrenamiento y Desarrollo de Habilidades:</strong> La implementación exitosa del juego Combinativo requiere un enfoque integral en el entrenamiento. Desarrollar habilidades individuales, como el control del balón, el pase y el movimiento sin balón, es esencial para la ejecución efectiva del modelo.</li>
<li><strong>Estrategias de Posicionamiento:</strong> Los patrones de movimiento y el posicionamiento táctico son la esencia del juego combinativo. Los jugadores deben comprender dónde posicionarse en diferentes áreas del campo para crear espacios y opciones de pase.</li>
<li><strong>Comunicación y Química:</strong> La comunicación entre los jugadores y la comprensión mutua son pilares fundamentales. La química entre los compañeros de equipo facilita la previsión de movimientos y opciones de pase, permitiendo que el balón fluya sin problemas.</li>
</ol>
<br>
<p><strong>V. Ejemplos en el Fútbol Actual:</strong></p>

<p>Equipos icónicos como el FC Barcelona, Manchester City de Pep Guardiola han adoptado el juego Combinativo como parte de su identidad futbolística. La forma en que este equipo dominó y domina la escena mundial demostró/a el poder de la colaboración estratégica y el control del balón en la creación de oportunidades y el éxito en el campo.</p>
<br>
<p><strong>Conclusión:</strong></p>

<p>El Modelo de Juego Combinativo se alza como una filosofía que fusiona la maestría del balón y la inteligencia táctica. Su impacto en el fútbol moderno es innegable, empoderando a los equipos que lo adoptan con un control firme del juego, desorganización defensiva y la capacidad de generar oportunidades de gol. Sin embargo, recordemos que la implementación exitosa no surge de la noche a la mañana. Requiere una dedicación constante al entrenamiento, la comunicación, la cohesión del equipo y la adaptabilidad táctica. Al abrazar el Modelo de Juego Combinativo, estamos celebrando el arte de combinar habilidades individuales con la colaboración estratégica, creando una sinfonía en el campo de juego que trasciende las barreras del lenguaje y la cultura.</p>
        </div>
      </div>

      <hr>

      <div class="py-10 text-black" id="metodologia-de-preparacion">
        <h2 class="text-center font-bold text-3xl py-6">Metodologia de Preparación</h2>
        <h3 id="titulo-seccion" class="font-bold text-xl text-center">Principios de Sustentación.</h3>

        <div class="py-4">
          <p>La<strong> progresión metodológica</strong> en la construcción del equipo fútbol, dentro del marco de la didáctica teorica - práctica, es fundamental para asegurar un aprendizaje efectivo y significativo para los Jugadores, especialmente en la Constitución del Equipo a nivel Técnico, Táctico, Estratégico donde se busca formar futuros elitistas. Aquí te presento un desglose de los fundamentos :</p>
<br>
<ol class="list-decimal">
<li>
<p><strong><span style="color:var(--tw-prose-bold)">Principios pedagógicos:</span></strong> La enseñanza del fútbol debe basarse en principios pedagógicos sólidos, que incluyan la comprensión de cómo aprenden los individuos, la importancia de la motivación y el desarrollo de habilidades progresivas.</p>
</li>
<li>
<p><strong><span style="color:var(--tw-prose-bold)">Estructura progresiva:</span></strong> La progresión metodológica implica una secuencia lógica de actividades y ejercicios, comenzando desde lo más básico hasta lo más complejo. Por ejemplo, se puede empezar con ejercicios de calentamiento y habilidades individuales, antes de pasar a tácticas de equipo más avanzadas.</p>
</li>
<li>
<p><strong><span style="color:var(--tw-prose-bold)">Enfoque en las habilidades fundamentales:</span></strong> Se debe priorizar el desarrollo de las habilidades técnicas y tácticas fundamentales del fútbol, como el control del balón, el pase, el regate, la marca y la posesión, otros.</p>
</li>
<li>
<p><strong><span style="color:var(--tw-prose-bold)">Principio de la contextualización:</span></strong> Es importante contextualizar las habilidades enseñadas dentro del juego real. Esto significa que los ejercicios deben reflejar situaciones reales de juego para que los jugadores puedan transferir fácilmente lo aprendido a partidos reales.</p>
</li>
<li>
<p><strong><span style="color:var(--tw-prose-bold)">Adaptación al nivel de los practicantes:</span></strong> Los lineamientos&nbsp;metodológicos&nbsp;debe adaptarse al nivel de habilidad y experiencia de los atletas. Los entrenadores deben ser capaces de identificar las necesidades individuales de los deportistas y ajustar la progresión en consecuencia.</p>
</li>
<li>
<p><strong><span style="color:var(--tw-prose-bold)">Feedback constante:</span></strong> Proporcionar retroalimentación constante es esencial para el aprendizaje efectivo. Los entrenadores deben ofrecer fundamentos específicos y constructivos que ayuden a los atletas a mejorar.</p>
</li>
<li>
<p><strong><span style="color:var(--tw-prose-bold)">Integración de tecnología:</span></strong> En la actualidad, la tecnología juega un papel importante en la enseñanza del fútbol. Los vídeos de entrenamiento, análisis de datos y herramientas de simulación pueden utilizarse para mejorar la comprensión y el rendimiento de los deportistas.</p>
</li>
<li>
<p><strong><span style="color:var(--tw-prose-bold)">Inclusión de aspectos físicos y psicológicos:</span></strong> Además de las habilidades técnicas y tácticas, la progresión metodológica también debe abordar aspectos físicos y psicológicos del juego, como la condición física, la toma de decisiones y la gestión del estrés.</p>
</li>
</ol>
<br>
<p>En resumen, la progresión metodológica en la enseñanza del fútbol dentro de la didáctica teorica - práctica implica una planificación cuidadosa, una adaptación constante y un enfoque holístico que tenga en cuenta todos los aspectos del juego y del desarrollo de los Jugadores.</p>
        </div>

        
      </div>
    </main>
</Layout>